*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto Condensed', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container
{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.flex
{
    display: flex;
}



/*! ASIDE SX */
.aside-sx
{
    width: 35%;
    
}



/*! HEADER */
.utente
{
    background-color: rgb(237, 237, 237);
    height: 70px;
    padding: 10px;
    border-right: 1px solid rgb(204, 204, 204);
}

.logo
{
    flex-grow: 2;
}

.logo img
{
    float: left;
    width: 50px;
    margin-right: 5px;
}

.logo p
{
    line-height: 50px;
    margin-left: 5px;
}

.icon i
{
    line-height: 50px;
    font-size: 18px;
    margin: 0 5px;
    color: rgb(177, 177, 177);
}



/*! MAIN */

.notifiche
{
    background: rgb(138, 211, 241);
    height: 80px;
    padding: 10px;
}

.notifiche i
{
    font-size: 30px;
    background-color: rgb(242, 251, 255);
    border-radius: 50%;
    color: rgb(138, 211, 241);
    padding: 12px;
    margin-right: 5px;
}


.notifiche-text a
{
    font-size: 14px;
    color: rgb(79, 116, 147);
}

.notifiche-text
{
    align-items: center;
    flex-wrap: wrap;
}





























/*! DEBUG */

.debug .container
{
    background-color: lightblue;
    height: 500px;
}
