<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--* MY CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!--* Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap" rel="stylesheet">


    <!--* FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--* MY VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <title>BoolzApp</title>
</head>
<body class="debug">


        <div id="app" class="container">
    
            <!--? aside sinistra -->
            <aside class="aside-sx clearfix">

                <!--? header -->
                <header class="utente flex">
                   
                    <div class="logo clearfix">
                        <img src="img/utente.png" alt="Logo">
                        <p>Luke Skywalker</p> 
                    </div>

                    <div class="icon">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    
      
                </header>
                <!--? /header -->
                



                <!--? main -->
                <main>

                    <!--? notifiche -->
                    <div class="notifiche flex">
                        <i class="fas fa-bell-slash"></i>
                        <div class="notifiche-text flex">
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                        
                    </div>
                    <!--? /notifiche -->

                    <!--? search -->
                    <div class="search">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <input type="text" name="search" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!--? search -->


                    <!--? chat -->
                    <div class="chat">
                        <ul>
                            <li class="other-chat flex" v-for="(item, index) in contacts" @click="contact(index)">
                                <img :src=" 'img/avatar' + item.avatar +'.jpg'" alt="">
                                <p>{{item.name}}</p> 
                            </li>
                        </ul>
                    </div>
                    <!--? /chat -->

                </main>
                <!--? main -->


            </aside>
            <!--? /aside sinistra -->




            <!--? aside destra -->
            <aside class="aside-dx clearfix">

                <!--? header -->
                <header class="chat-principale flex">
                   
                    <div class="chat-logo clearfix">
                        <img :src="contacts[counter].avatar" alt="">
                        <div class="text-utente">
                            <h4>{{contacts[counter].name}}</h4>
                            <span>Ultimo accesso oggi alle</span>
                        </div>         
                    </div>
                    <!--TODO DA MODIFICARE ANCHE QUESTA PARTE -->


                        <!-- <div class="chat-logo clearfix">
                            <img src="img/avatar_4.jpg" alt="Logo">
                            <p>Giangi</p> 
                            
                        </div> -->
    
                        <div class="icon">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                </header>
                <!--? /header -->


                <!--? main -->
                <main class="conversazione">
           
                    <div class="">
                        <div v-for="(item, index) in contacts[counter].messages" :class="(item.status == 'sent') ? 'send-box speech-bubble row' : 'received-box speech-bubble'">

                            <div>{{item.text}}</div>
                            <div class="time">{{item.date}}</div>
                        </div>
                    </div>
                    <!--TODO DA CORREGGERE QUESTA PARTE -->
                   
                </main>
                <!--? /main -->


                <!-- :class="(item.status == 'received') ? 'mess-inviati' : 'mess-ricevuti'" -->

                <!--? footer -->
                <footer class="send flex">
                    <i class="fas fa-smile"></i>
                    <input type="text" name="send" placeholder="Scrivi un messaggio">
                    <i class="fas fa-paper-plane"></i>
                    <i class="fas fa-microphone"></i>
                    
                </footer>
                <!--? /footer -->

            </aside>
            <!--? /aside destra -->
            
        </div>
        
   
    



    <!--* MY JS -->
    <script src="js/script.js"></script>
    
</body>
</html>